body {   
    display: flex;       
    flex-wrap: wrap;    
    margin: 0;
    height: 50vh;
}

div {
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

div#one {
    background-color: red;
}

div#two {
    background-color: green;
}
div#three {
    background-color: yellow;
}
div#four {
    background-color: blue;
}

button {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 75px;
    width: 150px;

    font-family: Arial;
    font-size: 25px;

    z-index: 1000;
}
